body {
  background-color: beige;
}

.playground {
  --board-size: 640px;
  --cell-size: 12px;
}

.playground {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  width: var(--board-size);
  height: var(--board-size);
  border: solid 4px black;
  background-color: white;
}

.circle {
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 50%;
}

.snake {
  background-color: black;
}

.apple {
  background-color: red;
}

.instructions {
  position: absolute;
  left: 0;
  top: 50%;
  box-sizing: border-box;
  width: 100vw;
  padding: 5vh 10vw;
  font-size: 3rem;
  z-index: 1;
  background-color: lightgray;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s ease-in;
}

.score {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1% 3%;
  padding: 0 0.5rem;
  background-color: orange;
  border: solid 2px black;
  border-radius: 10%;
}
